.leftnav_copiryght {
  writing-mode: vertical-lr;
  text-orientation: mixed;
  color: white;
  transform: rotate(180deg);
  left: 42px;
  position: absolute;
  bottom: 150px;
  font-family: "Roboto";
  font-weight: 500;
  size: 12px;
  line-height: 24px;
  margin: auto;
}

.leftnav_container {
  width: 117px;
  height: 100%;
  background-color: #020203;
  position: fixed;
  z-index: 1;
}

.leftnav_navigation {
  width: 64px;
  height: 316px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 25%;
  left: 26px;
}

.link_icon {
  width: 64px;
  height: 64px;
  display: flex;
  margin-bottom: 20px;
}
