main {
  width: 1126px;
  height: 779px;
  top: 159px;
  left: 224px;
}

.chart-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2em;
  width: 910px;
  margin-top: 40px;
}

.chart-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.dashboard_containers {
  display: flex;
  margin-left: 10%;
  margin-top: 3%;
}
.thumbnail-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: top;
  margin-top: 130px;
}

